$fontMontserat: 'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
}
body{
    @media screen and (max-width: 500px){
        overflow-x: hidden;
        .nav-active{
            transform: translateX(0%) !important;
        }
    }
    
}

.main_block{
    background-image: url(../image/Photo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    @media screen and (max-width: 762px){
        display: flex;
        flex-direction: column;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 580px) {
        display: flex;
        flex-direction: column;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .nav_block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0px 0 200px;
       
        @media screen and (max-width: 800px) {
            flex-direction: row-reverse;
            padding: 0 30px;
        }
        @media screen and (max-width: 580px) {
            padding: 0 30px;
        }
        @media screen and (max-width: 500px){
            flex-direction: row;
            padding: 0 25px;
        }
        .logo{
            flex-direction: column-reverse;
            display: flex;
            height: 60px;
            background-color: #fa5c65;
            border-radius: 0 0 5px 5px;
            @media screen and (max-width: 762px) {
                height: 40px;
                font-size: 15px;
            }
            @media screen and (max-width: 580px) {
                height: 30px;
                font-size: 10px;
            }
            a{
            padding: 0px 15px 5px;
            text-decoration: none;
            color: #fff;
            }
        }
        .nav_menu{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 0 0 200px;
            font-family: $fontMontserat;
            font-weight: 400;
            @media screen and (max-width: 1024px) {
                padding: 0 0 0 70px;
                font-size: 15px;
            }
            @media screen and (max-width: 905px) {
                padding: 0 0 0 30px;
                font-size: 13px;
            }
            @media screen and (max-width: 732px) {
                font-size: 12px;
            }
            @media screen and (max-width: 500px) {
                position: absolute;
                width: 20%;
                top: 25px;
                right: 0px;
                background: #333333;
                transition: transform 0.5s ease-in;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                transform: translateX(101%)
                
            } 
            li{
                margin: 0 15px 0;
                
                @media screen and (max-width: 732px) {
                    margin: 0 10px 0;
                }
                @media screen and (max-width: 500px){
                    margin: 5px 10px 5px;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    &:hover{
                        color: #fa5c65;
                    }
                    @media screen and (max-width: 500px){
                        border-bottom: 1px solid rgba(0,0,0,.2);
                        color: #fff;
                    }
                   
                }
                i{
                    cursor: pointer;
                    color: #fa5c65;
                    &:hover{
                        color: #000000;
                    }
                    
                }
            }
        }
        .burger {
            @media screen and (max-width: 500px) {
                    margin: 4px 0;
            }
        
            div{
                display: none;
                width: 25px;
                height: 3px;
                background-color:#314a5b;
                margin: 5px;
            }
            &:hover{
                cursor: pointer;
            }
            
            @media screen and (max-width: 500px) {
                    div{
                        display: block;
                        width: 15px;
                        margin: 3px;
                    }
                }
            }
        
        }
    .slogan{
        // height: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: 762px) {

        }
        @media screen and (max-width: 580px) {

        }
        .slogan1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 270px 0;
            @media screen and (max-width: 1124px) {
                margin: 200px 0;
            }
            @media screen and (max-width: 965px) {
                margin: 150px 0;
            }
            @media screen and (max-width: 762px) {
                margin: 100px 0;
            }
            @media screen and (max-width: 580px) {
                margin: 80px 0;
                padding-left: 30px;
            }
            @media screen and (max-width: 500px) {
                padding: 0 0 0 15px;
                margin: 40px 0;

                
            }
            h1{
                padding: 15px 0;
                width: 420px;
                font-size: 35px;
                color: #314a5b;
                font-family: $fontMontserat;
                font-weight: 700;
                text-transform: uppercase;
                @media screen and (max-width: 965px) {
                    font-size: 27px;
                }
                @media screen and (max-width: 762px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 580px) {
                    font-size: 17px;
                    width: 70%;
                    padding: 10px 0;
                }
                @media screen and (max-width: 500px) {
                    width: 55%;
                    font-size: 14px;
                    padding: 0;
                }
            }
            p{
                padding: 15px 0;
                font-family: $fontOpenSans;
                @media screen and (max-width: 580px) {
                    font-size: 12px;
                    padding: 10px 0;
                    width: 150px;
                }
            }
            a{
                padding: 15px 30px;
                border-radius: 5px;
                font-size: 11px;
                font-family: $fontOpenSans;
                font-weight: 700;
                text-decoration: none;
                color: #fff;
                background-color: #fa5c65;
                @media screen and (max-width: 580px) {
                    font-size: 8px;
                    padding: 10px 20px;
                }
            }
        }
        
    }
    
}


// next block
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .descript1{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 80px 150px;
        @media screen and (max-width: 1024px) {
            padding: 50px 130px;
        }
        @media screen and (max-width: 965px) {
            padding: 40px 0 0;
        }
        @media screen and (max-width: 648px) {
            flex-direction: column;
            padding: 30px 0 0;

        }
        .redpoint{
            color: #fa5c65;
        }
        div{
            display: flex;
            flex-direction: column;
            padding: 0 30px;
            @media screen and (max-width: 648px) {
                 margin-top: 10px;   
            }
            h2{
                font-family: $fontMontserat;
                font-weight: 700;
                line-height: 23px;
                color: #465065;
                font-size: 25px;
                @media screen and (max-width: 648px) {
                    font-size: 17px;
                }
               
            }
            p{
                color: #9aa0ab;
                margin: 15px 0;
                line-height: 20px;
                font-family: $fontOpenSans;
                font-size: 15px;
                @media screen and (max-width: 648px) {
                   margin: 0; 
                }
            }
            a{
                text-decoration: none;
                color: #fa5c65;
            }
        }
    }
}
.info2{
    .descript2{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 0 180px;
        @media screen and (max-width: 965px) {
            margin: 0;
            padding-left: 25px;
        }
        @media screen and (max-width: 648px) {
            flex-direction: column;
        }
        .redpoint{
            color: #fa5c65;
        }
        .mcbook{
            @media screen and (max-width: 765px) {
                width: 300px;    
            }
            @media screen and (max-width: 648px) {
                margin: 0 0 0 55px;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            margin: 0 230px 0 30px;
            @media screen and (max-width: 965px) {
            margin: 0 140px 0 0;
            }
            @media screen and (max-width: 765px) {
                margin: 0 20px 0 0;
            }
            @media screen and (max-width: 648px) {
                margin: 0 30px 10px;
                text-align: center;
            }
            h2{
                font-family: $fontMontserat;
                font-weight: 700;
                font-size: 35px;
                color: #465065;
                @media screen and (max-width: 765px) {
                    font-size: 30px;
                }
            }
            span{
                color: #314a5b;
                margin: 0 0 15px;
                @media screen and (max-width: 765px) {
                    margin: 0 0 10px;
                }
            }
            p{
                margin: 10px 0;
                color: #a5b0b7;
                line-height: 20px;
                @media screen and (max-width: 765px) {
                    line-height: 18px;
                }
            }
            a{
                text-decoration: none;
                color: #fa5c65;
            }
        }
    }
}
// next block
.ourteam{
    .allInfo{
        margin: 20px 170px;
        @media screen and (max-width: 1124px) {
            margin: 20px 140px;
            }
        @media screen and (max-width: 965px) {
            margin: 20px;
            }
    .text{
        display: flex;
        flex-direction: column;
        padding: 40px 40px;
        h3{
            font-family: $fontMontserat;
            font-weight: 700;
            color: #314a5b;
            font-size: 25px;
        }
        p{
          font-family: $fontOpenSans; 
          color: #a6acb5; 
          font-size: 13px;
          padding: 5px 0 0;

        }
    }
    .informationabout{
       display: flex;
       padding: 0 30px;
       flex-direction: row;
       @media screen and (max-width: 1124px) {
           padding: 0;
        }
        @media screen and (max-width: 965px) {
            padding: 0 30px;
        }
        @media screen and (max-width: 765px) {
            flex-wrap: wrap;
        }
       div{
           display: flex;
           @media screen and (max-width: 765px) {
            margin: 10px 0;
            }
           img{
               height: 85px;
               width: 85px;
           }
           div{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            h4{
                font-family: $fontMontserat;
                font-weight: 700;
                font-size: 20px;
                color: #314a5b;
            }
            .redtext{
                color: #fa5c65;
            }
            p{
                color: #9aa0ab;
                font-size: 13px;
                padding: 5px 0;
            }
           }
       } 
    }
    .more{
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px 40px 0;
        @media screen and (max-width: 765px) {
            justify-content: center;
        }
        a{
            text-decoration: none;
            color: #fa5c65;
        }
    }
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 180px;
    padding: 30px 0 10px;
    font-size: 15px;
    border-top: 1px solid #a6acb5;
    @media screen and (max-width: 965px) {
        margin: 5px 100px;
    }
    @media screen and (max-width: 765px) {
        margin: 5px 30px;
    }
    @media screen and (max-width: 648px) {
        flex-direction: column;
        justify-content: flex-end;
        font-size: 12px;
    }
    .icons{
       a{
        padding: 10px;
        cursor: pointer;
        }
    }
    .infiaboutme{
        color: #a6acb5;
        font-family: $fontOpenSans; 

    }
}